:root {
  --background-color: #ffffff;
  --second-background-color: #2F303A;
  --primary-text-color: #757575;
  --second-text-color: rgba(33, 33, 33, 1);
  --others-text-color: rgba(255, 255, 255, 0.6);
  --other-text-color: #FFFFFF;
  --accent-text-color: #2196F3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-size: 14px;
}

.list {
  list-style: none;
  text-decoration: none;
}

.header-item:hover,
.header-item:focus,
.header-other-nav:hover,
.header-other-nav:focus,
.footer-accent-color:hover,
.footer-accent-color:focus {
  color: var(--accent-text-color);
}

/* Header */

.logo {
  color: var(--accent-text-color);
}

.header-logo {
  color: var(--second-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list {
  color: var(--accent-text-color);
}

.header-item,
.header-right {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-text-color);
}

.header-other-nav {
  color: var(--primary-text-color);
}

/* Button */

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color:#ffffff;
  background-color: var(--accent-text-color);
}

/* .current-button {
  color: var(--accent-text-color);
} */

/* Section 1 */

.primary {
  background-color: rgba(47, 48, 58, 1);
}

.primary-title {
  color: var(--other-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Section 2 */

.benefits-company {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-description {
  color: var(--primary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section 3 */

.product-our,
.about-team {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section 4 */

.about {
  background-color: rgba(245, 244, 250, 1);
}

.about-name {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.about-position {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Portfolio */

.product-text {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */

.information {
  background-color: var(--second-background-color);
}

.informations {
  text-decoration: none;
}

.information-logo {
  color: var(--other-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.informations-address {
  color: var(--other-text-color);
}

.informations-mail, .informations-number {
  color: var(--others-text-color);
}
