/* беграунд колір #FFFFFF
rgba(47, 48, 58, 1) - другтй беграунд
Основний колір тексту rgba(117, 117, 117, 1) 
Другорядний колір тексту rgba(33, 33, 33, 1)
Колір тексту в Футері і Хедері 
rgba(255, 255, 255, 1)
rgba(255, 255, 255, 0.6)
Акцент 
rgba(33, 150, 243, 1)
*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: rgba(117, 117, 117, 1);
}

.list {
  list-style: none;
}
